<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <h1>Create Account</h1>
<form action="/create" method ="post">
    Name:<input type="text" name="name"><br><br>
    Account No:<input type="text" name="accnum"><br><br>
    PIN: <input type="password" name="pin"><br><br>
<a\ href="/login.html">Go to Login</a>

    <button type="Submit" class="Submit">Submit</button>
</form>
</body>
</html>